.cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.cart-container,
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.empty-cart-title,
.empty-cart-message {
  padding-bottom: 1.2em;
}
.cart-header,
.title-container {
  margin: 0.8em;
  font-size: 1.2em;
  color: #fd6d77;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item-img {
  height: 100px;
  padding-right: 1.2em;
}

.qty-button {
  margin: 0.3em;
  padding: 0.3em;
  background-color: #fb8b93;
  border-radius: 5px;
  border: 1px solid #fb8b93;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  cursor: pointer;
}

.qty-button:hover {
  background: #e90917;
}

.clearall-button {
}
/* .cart-title .cart-price .cart-qty */
