.item-list ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.item-title {
  font-size: 1.5rem;
}

.item-detail {
  font-size: 1.2rem;
}

.item-price {
  font-size: 1.5rem;
  font-weight: 300;
}

.item-list img {
  padding: 1.5rem;
  height: 400px;
}

.loading-products {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}

.itemcount-input {
  margin: 0.5rem;
  width: 2rem;
  text-align: center;
}
.itemcount-button {
  width: 1rem;
}

.add-button {
  margin-bottom: 0.3rem;
}
