.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  text-align: center;
}

.item-detail h2,
p {
  padding: 0.2em;
  margin: 0.2em;
}

.item-detail img {
  height: auto;
  width: 25%;
  align-self: center;
}

.return-button {
  font-size: 0.8em;
  color: black;
}
