.hero-section {
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hero-image {
  background: url("../../assets/Sale-banner.jpg");
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  color: white;
  opacity: 0.5;
  font-size: 8em;
}

.hero-button {
  background-color: #fb8b93;
  margin: 0.7em;
  padding: 0.7em;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #fb8b93;
  outline: none;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}
.hero-button:hover {
  font-size: 1.6em;
}
