.ItemListContainer {
  height: auto;
  font-size: 0.8em;
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fb9097,
    #f95f69,
    #e90917
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fb9097,
    #f95f69,
    #e90917
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.FeaturedProducts {
  font-size: 3.5rem;
  text-align: center;
  padding: 2rem;
  color: white;
}

.ItemList li {
  list-style-type: none;
  padding: 2rem;
  text-align: center;
  color: white;
}
