.ItemCountButton {
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  background-color: white;
  border-radius: 100%;
  border: 1px solid #fb8b93;
  outline: none;
  color: #e90917;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.ItemCountInput {
}
.AddButton {
}

.ItemCountButton:hover {
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}
