.banner-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.terms-container {
  width: 50%;
  padding: 1em 1em 0 1em;
}

.terms-title {
  text-align: center;
  padding-bottom: 0.5em;
}

.terms-text {
  text-align: justify;
  padding: -0.5em 0.5em;
}
li {
  list-style: none;
}
