.NavbarItems {
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fb9097,
    #f95f69,
    #e90917
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fb9097,
    #f95f69,
    #e90917
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  padding: 0.2em;
  margin: 1.5em;
}

.navbar-logo,
a {
  text-decoration: none;
  color: white;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:active {
  color: #fdb99b;
}

.nav-links:hover {
  background-color: #fdb99b;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.CartWidget {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
}

.CartWidget:hover {
  background-color: #fdb99b;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.CartWidget span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.9rem;
  position: absolute;
  right: -0.6rem;
  top: -0.6rem;
  background: white;
  line-height: 5;
  color: #e90917;
}
