.NavbarItems {
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fb9097,
    #f95f69,
    #e90917
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fb9097,
    #f95f69,
    #e90917
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-logo,
a {
  text-decoration: none;
  color: white;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navbar-logo {
  padding: 1rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:active {
  color: #fdb99b;
}

.nav-links:hover {
  background-color: #fdb99b;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.CartWidget {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.CartWidget:hover {
  background-color: #fdb99b;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
